In [2]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics, preprocessing
import matplotlib.pyplot as plt
import pickle

In [3]:
#reading the dataset
df=pd.read_csv('titanic.csv')
#print(df.head())

In [4]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [5]:
#dropping the body and name column because they are irrelevant (all too varrying)
df.drop(['Name'], 1, inplace=True)
#filling empty cells with 0
df.fillna(0, inplace=True)

In [6]:


#converting text data to numerical data
def handle_non_numerical_data (df):
    columns=df.columns.values
    
    for column in columns:
        text_digit_vals={}
        def convert_to_int(val):
            return text_digit_vals[val]
        
        if df[column].dtype !=np.int64 and df[column].dtype!=np.float64:
            column_contents=df[column].values.tolist()
            unique_elements=set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique]=x
                    x+=1
                    
            df[column]=list(map(convert_to_int, df[column]))
    return df


df=handle_non_numerical_data(df)

In [7]:
x=np.array(df.drop(['Survived'], 1))
x=preprocessing.scale(x)
y=np.array(df['Survived'])
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [8]:


clf=SVC(gamma='auto')
clf=clf.fit(x_train, y_train)
accuracy=clf.score(x_test, y_test)
print(accuracy)

0.8370786516853933

In [9]:
clfTitanic='clfTitanic.pkl'
pickle.dump(clf, open(clfTitanic, 'wb'))